Package: com.developer.craneicon
Name: Crane Icon
Version: 1.0.0
Architecture: iphoneos-arm64e
Description: Crane 扩展：为每个容器生成独立桌面图标
Maintainer: Developer
Author: Developer
Section: Tweaks
Depends: mobilesubstrate, com.opa334.crane
